<footer class="auth-footer">
  <span class="auth-footer__item">{{
    'STARLINKS.COMMON.COPYRIGHT' | translate: { year: currentYear }
  }}</span>
  <span class="auth-footer__divider" aria-hidden="true">&middot;</span>
  <span class="auth-footer__item">
    <a href="#" class="underline">{{ 'STARLINKS.COMMON.PRIVACY_POLICY' | translate }}</a>
  </span>
  <span class="auth-footer__divider" aria-hidden="true">&middot;</span>
  <span class="auth-footer__item">
    <a href="#" class="underline">{{ 'STARLINKS.COMMON.SUPPORT' | translate }}</a>
  </span>
</footer>
